.div1{
    
        border: 10px;
        padding: 20px;
        border-style: solid;        
        width: 200px;
        height: 200px;
        background-color: blue;
    
}

.div2{

    border-left: 10px;
    border-right: 10px;
    border-bottom: 20px;
    border-top: 20px;
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-left: 259px;
}

.div3{
        border: 10px;
        padding: 20px;
        border-style: solid;        
        width: 200px;
        height: 200px;
        background-color: red;

}